h1{
color: red;font-weight: bold;
}
div#Trabajador1{background-color:gray;border: 2px color(blue) solid ;}
h2#trab1{color:blue; text-align: center;}
ul#list1{border: 3px solid}
ul#list2{border: 3px solid}
div#Trabajador2{background-color:gray; border: 2px color(green) solid;}