#todos_los_formularios{
    background-color:#D2D7E1;
    border:2px solid rgb(30,55,75);
    border-radius: 7px;
    padding:3px;
}
#formulario1{
    justify-content: center;
    font-size: 14px;
    color:#6B121B;
}
fieldset{
    border:1px dotted gray;
    border-radius: 6px;
    margin-bottom: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
}

legend{
    color: gray;
    font-size: 13px;
    margin-bottom: 16px;
    padding: 0;
    margin-left: 5px;
}
input{
    background-color: white;
    border-radius: 4px;
    color:#264f96;
    font-size: 16px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    outline: none;
}
#boton{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    background-color:#2a477a;
    font-size:14;  
}
#boton:hover{color:#5376b2;}
#text-area{
    width: 450px;
    height: 50px;
    max-width: 493px;
    min-width: 300px;
    max-height: 200px;
    min-height: 50px;
    margin-top: 4px;
    border-radius:4px;
    color:#264f96;
    font-size: 16px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom:3px;
    padding-left:10px;
}
:required{
    border-color: #4aa248;
    box-shadow: 3px 0px 0px 0px #4aa248;}
:invalid{
    border-color: #ff7f7f;
    box-shadow: 3px 0px 0px 0px #ff7f7f;
}
header{
    padding: 6px; 
    font-family:'Times New Roman', Times, serif;
    text-transform: capitalize;
    background-color: rgb(30,55,75);
    color: white;
    font-size:20px;
}

#contacto{
    font-style: normal;
    color:white;
    text-decoration:none;
}
#contacto:hover{
    color: aqua;
    font-size: x-large;
}

main{background-color: rgb(238, 236, 236);}

h1{font-size: 20px;}

img#imagen_head{
    float: left; 
    padding-top: 9px;
}

li#header{
    display: flex; 
    opacity: 255;
    color: white;
    background-color: rgb(70, 100, 130);
    padding: -6px;
}
footer{
    padding: 6px; 
    position: fixed;
    background-color: rgb(30, 55, 75);
    color: white;
    width: 99dvw;
    justify-content: center;
    bottom: 0%;
}
li#footer{
    display: flex;
    justify-content: space-between;

}
#copiright{
    font-size: small;
    text-align: left;
}

#fondo{
    display: flex;
    text-align: center;
}

#abajo_delecha{
    font-style: italic;
    font-size: small ;  
    text-align: right;
}
html{background-color: rgb(30, 55, 75);}